@model MVCConcesionaria.Models.VentaCamioneta



@{ ViewData["Title"] = "Create";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    List<SelectListItem> personas = (List<SelectListItem>)ViewBag.personas;
    }

<h1>Venta de camionetas</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.DropDownList("Id", items, "Selecciona la camioneta a vender", new { @class = "form-control" })
            @Html.DropDownList("IdCliente", personas, "Selecciona el comprador", new { @class = "form-control" })
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a lista de camionetas vendidas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
